$bg-button: #f0f0f0;
$border-button: solid 1px #888;

.button {
    font: 1.4rem;
    background-color: $bg-button;
    border: none;
    border-right: $border-button;
    border-bottom: $border-button;
    outline: none;
}    